:root {
    --primarycolor: #e8ded2;
    --bcolor: #a3d2ca;
    --ccolor: #5eaaa8;
    --dcolor: #056676;
}

body {
    background-color: #92bee2;
}

header {
    background-color: #9191df;
}

footer {
    background-color: #dae4ec;
}

#biografia{
    margin: auto;
    text-align: left;
}

#foto_cantante{
    align-content: right;
}

#disco{
    background-color: #e8ded2;
}

#menu_disco{

    background-color: var(--bcolor);
    display: block;
    margin: 1cm ;
    float: left;
}

#foto{
    margin: 3cm;
}

#btn_enviar{
    background-color: var(--bcolor);
}

#galeria{
    background-color: var(--primarycolor);
}